body{
    margin:auto;
    background-color: rgb(243, 245, 245);
}

.header{
    background-color:white;
    height: 60px;
}

h1{
    font-weight: bold;
    font-size: 20px;
    text-align:inherit;
}

#appearance{
    margin: 0px 200px;
    float: right;
}

.option{
    float: right;
    margin: 10px 200px;
    background-color: white;
}

input{
    padding: 5px 40px;
    text-align: left;
    border-radius: 2px;
    border-color: white;
    float: left;
    margin: 10px 100px;

}